.row1{
    width: 100%;
    display: flex;
}
.row2{
    width: 100%;
    display: flex;
}
.black{
    background-color: black;
    width: 20%;
    height: 230px;
}
.white{  
    background-color: white;
    width: 20%;
    height: 230px;
}